:root {
  @include css-variables;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-size: clamp(0.5rem, 1.5vw, 1.5rem); //fluid font-size
}

body {
  background-color: #222;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-primary-dark-2);
  text-align: center;
}
