.card-columns {
  -webkit-column-count: 2;
  column-count: 2;
  margin-inline: 1.5rem;
}

.card__img {
  margin: 0 auto 1.5rem auto;
  transition: all ease-in-out 0.2s;

  border: 0.75rem solid var(--color-grey-dark-2);
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--color-grey-dark-2);

  &:hover {
    transform: scale(1.03);
    filter: brightness(105%);
    box-shadow: 0 0.4rem 0.8rem var(--color-grey-dark-2);
    cursor: pointer;
  }

  img {
    width: 100%;
    display: block;
  }
}

// @media only screen and (min-width: 576px) {
// }

@media only screen and (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4;
    column-count: 4;
  }
}

// @media only screen and (min-width: 1200px) {
// }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  z-index: 10000;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}

.modalContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalImg {
  margin-top: 2rem;
  max-height: 80vh;
  max-width: 80vw;
  display: block;
}

.modalTxt {
  margin-top: 1em;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

.modalNav {
  margin-top: 1em;
}

.modalNav .button {
  padding: 0.5rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -4%;
}

.prevBtn {
  left: 3rem;
  transition: all 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.9);
  }
}

.nextBtn {
  right: 3rem;
  transition: all 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.9);
  }
}

.close {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  top: 1vh;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
  }
}

.modal.appear {
  opacity: 1;
  pointer-events: all;
}

.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
