.main-nav *,
.art-nav * :focus {
  outline: none;
}

.main-nav {
  background-color: var(--color-primary-dark);
  @include animated-gradient-mixin;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  z-index: 100;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    list-style: none;

    &-logo {
      margin-right: auto;
      padding-left: 2rem;
      padding-left: 1.5rem;
      cursor: pointer;
      font-family: park-lane, serif;
      font-weight: 300;
      font-style: italic;
      font-size: 1.6rem;

      &-link {
        display: block;
        text-decoration: none;
        color: var(--color-text-1);
        text-shadow: 0 0.1rem 0.1rem var(--text-shadow-violet);
        transition: all 0.2s ease-in;

        &:hover,
        &:focus {
          filter: brightness(1.5);
          text-shadow: 0 0.1rem 0.2rem var(--text-shadow-violet);
          transform: scale(1.1);
        }
      }
    }

    &-item {
      position: relative;
      padding: 1.5rem 2rem;
      cursor: pointer;
      border-radius: 0;

      &::after {
        content: "";
        visibility: hidden;
        width: 10%;
        height: 10%;
        position: absolute;
        left: 1rem;
        bottom: 50%;
        background-color: var(--color-primary);
        transform: translateY(50%);
        transition: height 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
      }

      &:hover a,
      &:focus a {
        color: var(--color-tertiary-dark);
        text-shadow: 0 0.1rem 0.2rem var(--text-shadow-violet);
      }

      &:hover::after,
      &:focus::after {
        visibility: visible;
        height: 100%;
        width: 100%;
        z-index: -10;
      }

      & a {
        text-decoration: none;
        color: var(--color-text-1);
        text-shadow: 0 0.1rem 0.1rem var(--text-shadow-violet);
      }
    }
  }
}

.main-nav__list-item {
  &-drop.show {
    opacity: 1;
    visibility: visible;
  }

  &-pin {
    position: relative;

    &:hover .main-nav__list-item-drop,
    &:focus .main-nav__list-item-drop {
      opacity: 1;
      visibility: visible;
    }
  }

  &-drop {
    display: flex;
    flex-direction: column;
    width: 9.7rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 4.85rem;
    left: 1rem;
    background-color: var(--color-primary-dark-2);
    text-align: initial;
    transition: opacity 0.1s ease-in;

    & li {
      padding: 0.5rem 1.1rem;
      list-style: none;
      transition: background-color 0.4s ease-in;

      &:hover,
      &:focus {
        background-color: var(--color-primary);
      }
    }
  }
}
