.owk-title1 {
  margin: 2rem 0 1rem 0;
  font-family: baskerville-urw, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.owk-title2 {
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}

.owk-title3 {
  font-size: 1.2rem;
}

.owk-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 1rem;

  &__container {
    flex: 1 1 200px;
    margin: 2rem;
  }

  &__image {
    width: 100%;
  }
}

.owk-imgs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 1rem;

  &__container {
    flex: 1 1 200px;
    margin: 2rem;
  }

  &__img {
    width: 100%;
  }
}

.owk-desc {
  margin-left: 6rem;
  text-align: initial;

  &__head {
    margin: 1rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;
  }

  &__item {
    flex: 0 0 42%;
    margin-left: 2rem;
    min-width: 22rem;
  }
}

.owk-qual {
  &__list {
    margin: 0 3rem;
    list-style: none;
  }

  &__statement {
    margin: 1rem 2rem;
  }
}

.main-footer {
  @include animated-gradient-mixin;
  margin-top: 1.5rem;
  padding: 1.5rem;
  color: var(--color-text-1);
  text-shadow: 0 0.1rem 0.1rem var(--text-shadow-violet);
  text-align: center;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 0.2rem 0.2rem var(--text-shadow-violet);
  }
}

.projects {
  font-size: 1.4rem;
  text-align: center;
}
