@mixin css-variables {
  --color-main-background: hsla(252, 100%, 24%, 1);
  --color-main-background-light: hsla(252, 100%, 44%, 1);
  --color-main-background-dark: hsla(252, 100%, 10%, 1);
  --color-main-star: hsla(48, 100%, 50%, 1);
  --star-gray: #bbafc863;
  --color-yellow1: hsl(45, 100%, 63%);
  --color-yellow2: hsl(45, 100%, 48%);
  --color-white-1: seashell;
  --text-shadow-violet: hsl(0, 93%, 17%);
  --text-shadow-violet-dk: hsla(0, 93%, 17%, 0.3);
}
