.sm-triangle1 {
  position: absolute;
  top: calc(12vh + calc(1 * 0.5vh));
  left: calc(10vw + calc(1 * 1vw));
  width: calc(3rem + calc(1 * 2rem));
  height: calc(3rem + calc(1 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 1);
  animation-fill-mode: backwards;
  z-index: calc(10 + 1); }

.sm-triangle2 {
  position: absolute;
  top: calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh));
  left: calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw));
  width: calc(3rem + calc(2 * 2rem));
  height: calc(3rem + calc(2 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 2);
  animation-fill-mode: backwards;
  z-index: calc(10 + 2); }

.sm-triangle3 {
  position: absolute;
  top: calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh));
  left: calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw));
  width: calc(3rem + calc(3 * 2rem));
  height: calc(3rem + calc(3 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 3);
  animation-fill-mode: backwards;
  z-index: calc(10 + 3); }

.sm-triangle4 {
  position: absolute;
  top: calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh));
  left: calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw));
  width: calc(3rem + calc(4 * 2rem));
  height: calc(3rem + calc(4 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 4);
  animation-fill-mode: backwards;
  z-index: calc(10 + 4); }

.sm-triangle5 {
  position: absolute;
  top: calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh));
  left: calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw));
  width: calc(3rem + calc(5 * 2rem));
  height: calc(3rem + calc(5 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 5);
  animation-fill-mode: backwards;
  z-index: calc(10 + 5); }

.sm-triangle6 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw));
  width: calc(3rem + calc(6 * 2rem));
  height: calc(3rem + calc(6 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 6);
  animation-fill-mode: backwards;
  z-index: calc(10 + 6); }

.sm-triangle7 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw));
  width: calc(3rem + calc(7 * 2rem));
  height: calc(3rem + calc(7 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 7);
  animation-fill-mode: backwards;
  z-index: calc(10 + 7); }

.sm-triangle8 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh)) + calc(8 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw)) + calc(8 * 1vw));
  width: calc(3rem + calc(8 * 2rem));
  height: calc(3rem + calc(8 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 8);
  animation-fill-mode: backwards;
  z-index: calc(10 + 8); }

.sm-triangle9 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh)) + calc(8 * 0.5vh)) + calc(9 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw)) + calc(8 * 1vw)) + calc(9 * 1vw));
  width: calc(3rem + calc(9 * 2rem));
  height: calc(3rem + calc(9 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 9);
  animation-fill-mode: backwards;
  z-index: calc(10 + 9); }

.lg-triangle1 {
  position: absolute;
  bottom: calc(7vh * 1);
  left: calc(30vw - calc(1 * 4vw));
  width: calc(34rem - calc(1 * 4rem));
  height: calc(34rem - calc(1 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 1));
  animation-fill-mode: backwards;
  z-index: calc(30 - 1); }

.lg-triangle2 {
  position: absolute;
  bottom: calc(7vh * 2);
  left: calc(30vw - calc(2 * 4vw));
  width: calc(34rem - calc(2 * 4rem));
  height: calc(34rem - calc(2 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 2));
  animation-fill-mode: backwards;
  z-index: calc(30 - 2); }

.lg-triangle3 {
  position: absolute;
  bottom: calc(7vh * 3);
  left: calc(30vw - calc(3 * 4vw));
  width: calc(34rem - calc(3 * 4rem));
  height: calc(34rem - calc(3 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 3));
  animation-fill-mode: backwards;
  z-index: calc(30 - 3); }

.rounded-triangle {
  background-image: url(../img/Rounded-triangle2.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: 100;
  animation: moveInBottom 1.5s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition: all ease-out 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .rounded-triangle:hover {
    scale: 1.1;
    filter: brightness(1.2);
    transform: translateY(-0.5rem);
    box-shadow: 0 0rem 1rem 0.3rem rgba(255, 247, 0, 0.8);
    border-radius: 50%; }
    .rounded-triangle:hover > * {
      margin-bottom: 4rem; }
  .rounded-triangle > * {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    margin-bottom: 2rem;
    justify-content: center;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.1;
    text-shadow: 0rem 0rem 0.5rem var(--text-shadow-violet-dk); }

.rounded-triangle--1 {
  bottom: 20vh;
  left: 30vw; }

.rounded-triangle--2 {
  bottom: 14vh;
  left: 50vw; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  z-index: 50;
  animation: pulse 2.5s ease-in-out infinite alternate; }

@keyframes pulse {
  from {
    background: -webkit-radial-gradient(center, ellipse cover, var(--color-main-star) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 1; }
  to {
    background: -webkit-radial-gradient(center, ellipse cover, var(--color-main-star) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0.5; } }

@keyframes animated-gradient {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes moveInDiagTopLeft {
  0% {
    opacity: 0;
    transform: translate(-10vw, -10vh) scale(0); }
  80% {
    transform: translate(1rem, 1rem) scale(1.5); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem) scale(0); }
  80% {
    transform: translatey(1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem) scale(0); }
  80% {
    transform: translatey(-1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10vw) scale(0); }
  80% {
    transform: translatex(1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(10rem) scale(0); }
  80% {
    transform: translatex(-1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  80% {
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.starfield {
  position: relative;
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: appear 2s;
  z-index: -10; }

.starfield > * {
  position: absolute;
  top: -450%;
  left: 0;
  height: 1000%;
  width: 100%; }

.starfield > * {
  background-size: 200px 200px;
  background-image: radial-gradient(2.6px 2.6px at 40px 60px, #ccc, rgba(0, 0, 0, 0)), radial-gradient(3.7px 3.7px at 20px 20px, var(--star-gray), rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 30px 100px, var(--star-gray), rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 40px 40px, var(--star-gray), rgba(0, 0, 0, 0)), radial-gradient(4.4px 4.4px at 110px 80px, var(--star-gray), rgba(0, 0, 0, 0)), radial-gradient(3.4px 3.4px at 190px 150px, var(--star-gray), rgba(0, 0, 0, 0));
  background-position: center;
  background-repeat: repeat; }

.starfield > * {
  transform-origin: 50% 50%;
  animation-name: starfieldRotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.starfield > *:nth-child(1) {
  animation-duration: 35s; }

.starfield > *:nth-child(2) {
  animation-duration: 45s; }

.starfield > *:nth-child(3) {
  animation-duration: 60s; }

.starfield > *:nth-child(4) {
  animation-duration: 80s; }

.starfield > *:nth-child(5) {
  animation-duration: 105s; }

@keyframes starfieldRotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes fadeInImg {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

:root {
  --color-main-background: hsla(252, 100%, 24%, 1);
  --color-main-background-light: hsla(252, 100%, 44%, 1);
  --color-main-background-dark: hsla(252, 100%, 10%, 1);
  --color-main-star: hsla(48, 100%, 50%, 1);
  --star-gray: #bbafc863;
  --color-primary: hsl(205, 65%, 32%);
  --color-secondary: hsl(205, 65%, 32%);
  --color-tertiary: hsl(40, 100%, 63%);
  --color-tertiary-dark: hsl(45, 100%, 63%);
  --color-tertiary-dark2: hsl(45, 100%, 48%);
  --color-white-1: seashell;
  --text-shadow-violet: hsl(0, 93%, 17%);
  --text-shadow-violet-dk: hsla(0, 93%, 17%, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: clamp(0.5rem, 1.5vw, 1rem); }

body {
  min-height: 100vh;
  background: radial-gradient(circle, var(--color-main-background) 40%, var(--color-main-background-dark) 70%);
  position: relative;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1; }

.body-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

main {
  margin-bottom: 3rem; }

.footer {
  background: linear-gradient(90deg, rgba(255, 217, 0, 0.8), rgba(122, 142, 255, 0.4), rgba(255, 217, 0, 0.8));
  background-size: 800% 800%;
  animation: animated-gradient 10s linear infinite;
  margin-top: auto;
  padding: 1.5rem;
  font-family: quiche-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-tertiary-dark);
  text-shadow: 0 0.2rem 0.2rem var(--text-shadow-violet);
  transition: all 0.2s; }
  .footer:hover {
    text-shadow: 0 0.4rem 0.4rem var(--text-shadow-violet);
    transform: scale(1.03); }

.logo {
  display: inline-block;
  position: fixed;
  top: 2rem;
  left: 3rem;
  height: 6rem;
  width: 6rem;
  z-index: 2000; }
  @media only screen and (max-width: 24em) {
    .logo {
      left: 2.5rem;
      height: 5.5rem;
      width: 5.5rem; } }
  .logo__img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0rem 0.5rem 0.4rem var(--color-tertiary-dark);
    filter: opacity(0.7);
    transition: all 0.4s; }
    .logo__img:hover {
      scale: 1.1;
      filter: brightness(1.1);
      box-shadow: 0 0rem 1rem 0.4rem var(--color-tertiary-dark); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: rgba(var(--color-white-1), 0.2);
  background: linear-gradient(90deg, rgba(255, 217, 0, 0.8), rgba(122, 142, 255, 0.4), rgba(255, 217, 0, 0.8));
  background-size: 800% 800%;
  animation: animated-gradient 10s linear infinite;
  position: fixed;
  top: 2rem;
  right: 3rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 2000; }
  @media only screen and (max-width: 24em) {
    .navigation__button {
      right: 2.5rem;
      height: 6rem;
      width: 6rem; } }

.navigation__background {
  opacity: 0;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
  background: radial-gradient(var(--color-main-background-dark), var(--color-main-background-light) 40%);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }
  @media only screen and (max-width: 24em) {
    .navigation__background {
      height: 5.5rem;
      width: 5.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300; }

.navigation__item {
  margin: 1rem 0.5rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-tertiary-dark);
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-tertiary-dark2) 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #090979;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  display: flex; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  display: inline-block;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  @media only screen and (max-width: 24em) {
    .navigation__icon {
      margin-top: 3rem;
      margin-right: -0.05rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--color-tertiary-dark);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon {
  filter: brightness(1.2); }

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
  filter: brightness(1.2); }

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
  filter: brightness(1.2); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.h1-home {
  text-align: center;
  font-family: 'alexa-std', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-tertiary-dark);
  font-size: 3.7rem;
  margin: 3rem 0 1.5rem 0;
  animation: moveInTop 3s ease-out;
  animation-fill-mode: backwards;
  z-index: 1000;
  transition: all 0.2s ease-in-out; }
  .h1-home:first-child::first-letter {
    font-size: 4.4rem;
    letter-spacing: -0.35rem; }
  @media only screen and (max-width: 25em) {
    .h1-home {
      margin: 3rem 0 0 -7vw;
      display: flex;
      flex-direction: column;
      font-size: 4rem; }
      .h1-home :last-child {
        margin-top: 1.5rem;
        margin-left: 20vw; } }

.home-main {
  margin-inline: auto; }

.h2-home {
  height: 50vh;
  width: 90%;
  margin-top: 5vh;
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 15vw));
  grid-template-rows: repeat(4, 3fr) 2fr;
  grid-template-areas: 'one one one one one' '. two two two two' '. . three three three' '. . . four four' '. . . . five';
  align-items: end;
  justify-items: start;
  font-family: 'montag', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: calc(1vw + 1.6rem);
  letter-spacing: 0.3rem;
  font-style: normal;
  z-index: 100; }
  .h2-home :first-child {
    grid-area: one;
    z-index: 100;
    font-size: calc(0.5vw + 1rem);
    position: relative;
    animation: moveInTop 3s ease-out;
    animation-fill-mode: backwards; }
    .h2-home :first-child::before {
      font-family: sans-serif;
      font-size: calc(0.5vw + 4rem);
      line-height: 1;
      color: rgba(204, 204, 204, 0.8);
      content: '\201C';
      position: absolute;
      top: -1.5rem;
      left: -1.4rem;
      z-index: 100; }
  .h2-home :nth-child(2) {
    grid-area: two;
    z-index: 100;
    animation: moveInLeft 3s ease-out;
    animation-fill-mode: backwards; }
    .h2-home :nth-child(2):first-letter {
      font-size: calc(1vw + 1.8rem); }
  .h2-home :nth-child(3) {
    grid-area: three;
    z-index: 100;
    animation: moveInRight 3s ease-out 0.5s;
    animation-fill-mode: backwards; }
  .h2-home :nth-child(4) {
    grid-area: four;
    line-height: 2;
    z-index: 100;
    position: relative;
    animation: moveInLeft 3s ease-out 0.75s;
    animation-fill-mode: backwards; }
    .h2-home :nth-child(4)::after {
      font-family: sans-serif;
      font-size: calc(0.5vw + 4rem);
      line-height: 1;
      color: rgba(204, 204, 204, 0.8);
      content: '\201D';
      position: absolute;
      top: 0;
      right: -1.5rem;
      z-index: 100; }
  .h2-home :last-child {
    grid-area: five;
    z-index: 100;
    align-self: center;
    margin-top: -1rem;
    font-size: calc(0.5vw + 0.8rem);
    animation: moveInBottom 3s ease-out 1s;
    animation-fill-mode: backwards; }

.rounded-triangle-text {
  font-family: 'montag', sans-serif;
  font-weight: 300;
  margin-top: -0.3rem; }

.heading-art1 {
  padding: 2.7rem 0 1.5rem 0;
  font-family: quiche-sans, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  letter-spacing: 0.2rem;
  color: var(--color-tertiary-dark);
  text-shadow: 0 0.2rem 0.3rem var(--text-shadow-violet);
  transition: all 0.2s; }
  .heading-art1:hover {
    text-shadow: 0 0.4rem 0.4rem var(--text-shadow-violet);
    transform: scale(1.03); }

.heading-art2,
.heading-art3 {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--color-tertiary-dark);
  text-shadow: 0 0.2rem 0.3rem var(--text-shadow-violet); }

.heading-art1.heading-web-projects1 :first-child {
  font-size: 2.5rem; }

.heading-art1.heading-web-projects1 :last-child {
  font-size: 1.8rem; }

.heading-web-projects1b {
  display: none; }
  .heading-web-projects1b span:first-of-type {
    display: block; }

.heading-art2.heading-web-projects2 {
  font-size: 1.3rem; }

@media only screen and (max-width: 32em) {
  .heading-web-projects1a {
    display: none; }
  .heading-web-projects1b {
    display: block;
    line-height: 1.4; }
  .heading-art1.heading-web-projects1 :first-child,
  .heading-art1.heading-web-projects1 :nth-child(2) {
    font-size: calc(3.7vw + 0.5rem); }
  .heading-art1.heading-web-projects1 :last-child {
    font-size: calc(2.8vw + 0.5rem); } }

.proj {
  width: 90vw;
  margin: 3rem auto;
  padding: 3rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  justify-content: center;
  background-color: #848484;
  font-weight: 500; }
  @media only screen and (max-width: 533px) {
    .proj {
      width: 70vw; } }
  .proj__heading-art2 {
    margin-bottom: 1rem;
    font-weight: 900; }
  .proj__li {
    list-style: none; }
    .proj__li h3 + p {
      font-size: 1.2rem; }
  .proj__item {
    margin: 2rem;
    padding: 1.2rem 2rem 0 2rem;
    display: grid;
    grid-template-rows: 0.5fr 4fr 1.3fr;
    text-decoration: none;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; }
    .proj__item:hover {
      transform: scale(1.03);
      filter: brightness(1.1);
      box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
    .proj__item:active {
      transform: scale(1);
      box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .proj-help__item {
    margin: 2rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    display: grid;
    grid-template-rows: 3.5rem;
    text-decoration: none;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; }
    .proj-help__item:hover {
      transform: scale(1.03);
      filter: brightness(1.1);
      box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
    .proj-help__item:active {
      transform: scale(1);
      box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .proj__image {
    padding: 1rem 0 1rem; }
    .proj__image img {
      width: 100%; }

.interests-heading-god {
  padding-top: 3.5rem;
  font-family: 'tangier', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: var(--color-tertiary-dark);
  filter: brightness(1.1);
  text-shadow: 0 0.15rem 0.2rem var(--text-shadow-violet);
  transition: all 0.4s; }
  .interests-heading-god:hover {
    text-shadow: 0 0.3rem 0.5rem var(--text-shadow-violet);
    transform: scale(1.03); }
  @media only screen and (max-width: 32em) {
    .interests-heading-god {
      margin-top: 6rem; } }

.interests-poetry {
  margin: 0 auto;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-family: 'tangier', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }

.interests-news {
  margin-inline: auto;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }
  .interests-news__title {
    padding-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-style: normal;
    font-size: 2rem; }
  .interests-news__henry-quote {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--color-tertiary-dark); }
  .interests-news__henry-name {
    margin: 1.5rem 0 2.5rem;
    font-size: 1.6rem;
    color: var(--color-tertiary-dark); }
  .interests-news__title2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase; }
  .interests-news__title3 {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    color: var(--color-tertiary-dark); }
  .interests-news__link {
    display: block;
    margin: 0 1rem 2.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-white-1);
    transition: all 0.2s; }
    .interests-news__link:hover {
      filter: brightness(1.1);
      text-shadow: 0 0.2rem 0.5rem var(--text-shadow-violet);
      transform: scale(1.03) translateY(-0.2rem); }
  .interests-news__movie {
    font-size: 1.4rem; }
    .interests-news__movie-title {
      font-size: 1.4rem;
      font-style: italic; }

.interests-pinterest {
  width: 100%; }
  .interests-pinterest__list {
    display: flex;
    justify-content: space-around;
    padding: 0rem 4rem 0rem 4rem;
    list-style: none; }
  .interests-pinterest__item {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    transition: all 0.2s ease-out; }
    .interests-pinterest__item:hover {
      filter: brightness(1.5) saturate(1.5);
      box-shadow: 0 0.09rem 1.5rem var(--text-shadow-violet);
      transform: scale(1.1) translateY(-0.3rem); }
  .interests-pinterest__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0 0.02rem 0.5rem var(--text-shadow-violet-dk); }
    .interests-pinterest__link h2 {
      font-family: 'roboto', sans-serif;
      color: var(--color-white-1);
      font-weight: 300;
      font-size: 1.2rem;
      padding-top: 1rem; }
  .interests-pinterest__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: rgba(255, 0, 0, 0.8);
    opacity: 0.8; }

.interests-myvideo__title1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }

.interests-myvideo__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto; }

.interests-myvideo__link {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 60%;
  border-radius: 0.2rem;
  box-shadow: 0 0.02rem 0.5rem var(--text-shadow-violet);
  box-shadow: 0 0.05rem 0.7rem 0.1rem #555;
  outline-offset: 0.7rem;
  filter: brightness(0.9);
  transition: all ease-in 0.2s; }
  .interests-myvideo__link:hover {
    outline: 1rem solid var(--color-tertiary);
    filter: brightness(1.1);
    box-shadow: 0 1rem 2rem 0.3rem #555;
    transform: scale(1.02) translateY(-0.2rem);
    z-index: 20; }

.interests-myvideo__img {
  width: 100%;
  border-radius: 0.5rem;
  display: block; }

hr {
  width: 20%;
  background-color: var(--color-tertiary-dark);
  height: 0.3rem;
  margin: 4rem auto 4rem auto;
  border: none; }

.interests-footer {
  font-family: 'tangier', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1rem; }

@media only screen and (max-width: 34.5em) {
  .heading-art1.heading-digital-painting1 :first-child {
    display: block;
    margin: 0 0 0.5rem 0;
    font-size: calc(3vw + 1.2rem); }
  .heading-art1.heading-digital-painting1 :last-child {
    display: block;
    font-size: calc(1.8vw + 1.2rem); } }

@media only screen and (max-width: 31.5em) {
  .heading-art1.heading-photo-effects1 :first-child {
    display: block;
    margin: 0 0 0.5rem 0;
    font-size: calc(3vw + 1.2rem); }
  .heading-art1.heading-photo-effects1 :last-child {
    display: block;
    font-size: calc(1.8vw + 1.2rem); } }

@media only screen and (max-width: 31.5em) {
  .heading-art1.heading-photo-editing1 :first-child {
    display: block;
    margin: 0 0 0.5rem 0;
    font-size: calc(3vw + 1.2rem); }
  .heading-art1.heading-photo-editing1 :last-child {
    display: block;
    font-size: calc(1.8vw + 1.2rem); } }

@media only screen and (max-width: 68.5em) {
  .heading-art1.heading-digital-fusion1 :first-child {
    display: block;
    font-size: 3rem;
    line-height: 1.5; }
  .heading-art1.heading-digital-fusion1 :last-child {
    display: block;
    font-size: 2rem; } }

@media only screen and (max-width: 25.5em) {
  .heading-art1.heading-digital-fusion1 :first-child {
    font-size: calc(4vw + 0.5rem); }
  .heading-art1.heading-digital-fusion1 :last-child {
    font-size: calc(3.2vw + 0.5rem); } }

.card-columns {
  margin: 0 2rem 0 2rem;
  columns: 2;
  column-gap: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .card-columns {
      columns: 3; } }
  @media only screen and (min-width: 992px) {
    .card-columns {
      columns: 4; } }

.card__img {
  min-height: 100%;
  transition: all ease-in-out 0.2s;
  position: relative;
  border: 0.75rem solid #4d4d4d;
  border-radius: 0.5rem; }
  .card__img:not(:first-of-type) {
    margin-top: 1.5rem; }
  .card__img:before {
    content: '';
    position: absolute; }
  .card__img:hover {
    transform: scale(1.03);
    filter: brightness(105%);
    box-shadow: 0 0.6rem 0.8rem black;
    cursor: pointer; }
  .card__img img {
    -webkit-column-break-inside: avoid;
    width: 100%;
    display: block;
    min-height: 100%; }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: #fff;
  z-index: 10000;
  overflow: auto;
  opacity: 0;
  pointer-events: none; }

.modalContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.modalImg {
  width: 100%;
  object-fit: contain;
  margin-top: 2rem;
  max-height: 80vh;
  max-width: 80vw;
  display: block;
  transform-origin: top;
  animation: scale 0.75s ease-out;
  animation-fill-mode: backwards; }

.modalTxt {
  margin-top: 1em;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.6); }

.modalNav {
  margin-top: 1em; }

.modalNav .button {
  padding: 0.5rem 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -4%; }

.prevBtn {
  left: 3rem;
  transition: all 0.2s; }
  .prevBtn:hover {
    color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.4); }

.nextBtn {
  right: 3rem;
  transition: all 0.2s; }
  .nextBtn:hover {
    color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.4); }

.close {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: 1vh;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s; }
  .close:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1); }

.modal.appear {
  opacity: 1;
  pointer-events: all; }
