.u-height-100vh {
  height: 100vh; }

.u-margin-top-medium {
  margin-top: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-padding-bottom-small {
  margin-bottom: 1rem !important; }

.u-padding-bottom-medium {
  margin-bottom: 1rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-100px) translateX(-100px); }
  80% {
    transform: translateY(5px) translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(100px) translateX(100px); }
  80% {
    transform: translateY(-5px) translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  80% {
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animated-gradient {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

:root {
  --color-primary: hsl(207, 100%, 33%);
  --color-primary: hsl(205 90% 40%);
  --color-primary: hsl(205, 65%, 32%);
  --color-primary-light: hsl(190, 90%, 50%);
  --color-primary-light: hsl(190, 65%, 50%);
  --color-primary-dark: hsl(220, 70%, 30%);
  --color-primary-dark-2: hsl(220, 70%, 10%);
  --color-secondary: hsl(107, 86%, 25%);
  --color-secondary: hsl(107, 65%, 25%);
  --color-tertiary-dark: hsl(18, 87%, 36%);
  --color-tertiary-dark-grad: hsla(18, 60%, 50%, 50%);
  --color-tertiary: hsl(18, 81%, 42%);
  --color-white-1: seashell;
  --color-grey-light-1: hsl(0, 0%, 80%);
  --color-grey-light-2: hsl(0, 0%, 70%);
  --color-grey-dark-1: hsl(0, 0%, 45%);
  --color-grey-dark-2: hsl(0, 0%, 30%);
  --color-grey-dark-3: hsl(0, 0%, 20%);
  --color-text-1: hsl(40, 70%, 63%);
  --text-shadow-violet: hsl(0, 93%, 17%);
  --text-shadow-violet-lt: hsla(0, 93%, 17%, 0.3);
  --radius: 0.2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: clamp(0.5rem, 1.5vw, 1rem); }

body {
  min-height: 100vh;
  background-color: #222;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-primary-dark-2);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column; }

.card-columns {
  -webkit-column-count: 2;
  column-count: 2;
  margin-inline: 1.5rem; }

.card__img {
  margin: 0 auto 1.5rem auto;
  transition: all ease-in-out 0.2s;
  border: 0.75rem solid var(--color-grey-dark-2);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.5rem black; }
  .card__img:hover {
    transform: scale(1.03);
    filter: brightness(105%);
    box-shadow: 0 0.6rem 0.8rem black;
    cursor: pointer; }
  .card__img img {
    width: 100%;
    display: block; }

@media only screen and (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3; } }

@media only screen and (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4;
    column-count: 4; } }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: #fff;
  z-index: 10000;
  overflow: auto;
  opacity: 0;
  pointer-events: none; }

.modalContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.modalImg {
  width: 100%;
  object-fit: contain;
  margin-top: 2rem;
  max-height: 80vh;
  max-width: 80vw;
  display: block; }

.modalTxt {
  margin-top: 1em;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.6); }

.modalNav {
  margin-top: 1em; }

.modalNav .button {
  padding: 0.5rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -4%; }

.prevBtn {
  left: 3rem;
  transition: all 0.2s; }
  .prevBtn:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.9); }

.nextBtn {
  right: 3rem;
  transition: all 0.2s; }
  .nextBtn:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.9); }

.close {
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
  top: 1vh;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s; }
  .close:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1); }

.modal.appear {
  opacity: 1;
  pointer-events: all; }

.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear; }

.art-main-body {
  background: var(--color-primary-dark);
  background: linear-gradient(180deg, var(--color-primary, 1) 10%, var(--color-secondary, 1) 35%, var(--color-primary-light, 1) 100%); }

.art-title1 {
  padding: 2.7rem 0 1.5rem 0;
  font-family: annabelle-jf, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--color-tertiary);
  text-shadow: 0 0.2rem 0.3rem var(--text-shadow-violet);
  transition: all 0.2s; }
  .art-title1:hover {
    text-shadow: 0 0.4rem 0.4rem var(--text-shadow-violet);
    transform: scale(1.03); }

.art-title2 {
  margin-bottom: 0.6rem;
  font-size: 1.2rem; }

.art-title3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  color: var(--color-tertiary);
  text-shadow: 0 0.2rem 0.3rem var(--text-shadow-violet); }

.art-heading-God {
  padding-top: 3.5rem;
  font-family: annabelle-jf, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3rem;
  text-align: center;
  color: var(--color-text-1);
  text-shadow: 0 0.15rem 0.2rem var(--text-shadow-violet);
  transition: all 0.4s; }
  .art-heading-God:hover {
    text-shadow: 0 0.3rem 0.5rem var(--text-shadow-violet);
    transform: scale(1.03); }

.art-poetry {
  margin: 0 auto;
  padding: 1.2rem 0 2rem;
  font-size: 2rem;
  font-family: annabelle-jf;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }

.art-news {
  margin-inline: auto;
  font-family: roboto, sans-serif;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }
  .art-news__title {
    padding: 2rem 0 2rem;
    font-family: baskerville-urw, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem; }
  .art-news__henry-quote {
    font-family: baskerville-urw, serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 900;
    color: var(--color-tertiary); }
  .art-news__henry-name {
    margin: 1.5rem 0 2.5rem;
    font-family: roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--color-tertiary); }
  .art-news__title2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase; }
  .art-news__title3 {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-tertiary); }
  .art-news__link {
    display: block;
    margin: 0 1rem 2.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-white-1);
    transition: all 0.2s; }
    .art-news__link:hover {
      filter: brightness(1.1);
      text-shadow: 0 0.2rem 0.5rem var(--text-shadow-violet);
      transform: scale(1.03) translateY(-0.2rem); }
  .art-news__movie {
    font-size: 1.4rem; }
    .art-news__movie-title {
      font-size: 1.4rem;
      font-style: italic; }

.art-pinterest {
  padding: 2.5rem 0 2rem 0;
  width: 100%; }
  .art-pinterest__list {
    display: flex;
    justify-content: space-around;
    padding: 0rem 4rem 0rem 4rem;
    list-style: none;
    text-shadow: 0rem 0.05rem 0.05rem var(--text-shadow-violet); }
  .art-pinterest__item {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.1); }
  .art-pinterest__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color: var(--color-primary-dark);
    transition: all 0.2s;
    box-shadow: 0 0.02rem 0.5rem var(--text-shadow-violet-lt); }
    .art-pinterest__link:hover {
      filter: brightness(1.1);
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0.09rem 1.5rem var(--text-shadow-violet-lt);
      transform: scale(1.01); }
    .art-pinterest__link span {
      padding-top: 1rem; }
  .art-pinterest__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: var(--color-tertiary-dark);
    filter: saturate(0.8); }

.art-myvideo__title1 {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--text-shadow-violet); }

.art-myvideo__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto; }

.art-myvideo__link {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 60%;
  border-radius: 0.2rem;
  box-shadow: 0 0.02rem 0.5rem var(--text-shadow-violet-lt);
  box-shadow: 0 0.05rem 0.7rem 0.1rem #555;
  outline-offset: 0.7rem;
  filter: brightness(0.9);
  transition: all ease-in 0.2s; }
  .art-myvideo__link:hover {
    outline: 1rem solid var(--color-tertiary);
    filter: brightness(1.1);
    box-shadow: 0 1rem 2rem 0.3rem #555;
    transform: scale(1.02) translateY(-0.2rem);
    z-index: 20; }

.art-myvideo__img {
  width: 100%;
  border-radius: 0.5rem;
  display: block; }

.art-footer {
  background: linear-gradient(90deg, var(--color-primary-dark) 20%, var(--color-primary) 30%, var(--color-tertiary-dark-grad) 50%, var(--color-primary) 60%, var(--color-primary-dark) 80%);
  background-size: 800% 800%;
  animation: animated-gradient 20s linear infinite;
  padding: 2rem;
  font-family: annabelle-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-text-1);
  text-shadow: 0 0.2rem 0.2rem var(--text-shadow-violet);
  transition: all 0.2s;
  margin-top: auto; }
  .art-footer:hover {
    text-shadow: 0 0.4rem 0.4rem var(--text-shadow-violet);
    transform: scale(1.03); }

.art-galleries-footer {
  color: var(--color-tertiary-dark); }

.proj {
  background-color: #848484;
  width: 90vw;
  margin: 3rem auto;
  padding: 3rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  justify-content: center; }
  .proj__title2 {
    font-weight: 900;
    margin-bottom: 1rem; }
  .proj__li {
    list-style: none; }
    .proj__li h3 + p {
      font-size: 1.2rem; }
  .proj__item {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 4fr 1.3fr;
    padding: 1.2rem 2rem 0 2rem;
    margin: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; }
    .proj__item:hover {
      transform: scale(1.03);
      filter: brightness(1.1);
      box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
    .proj__item:active {
      transform: scale(1);
      box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .proj-help__item {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-rows: 3.5rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    margin: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; }
    .proj-help__item:hover {
      transform: scale(1.03);
      filter: brightness(1.1);
      box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
    .proj-help__item:active {
      transform: scale(1);
      box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .proj__image {
    padding: 1rem 0 1rem; }
    .proj__image img {
      width: 100%; }

.logo {
  display: inline-block;
  position: fixed;
  top: 2rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  z-index: 2000; }
  .logo__img {
    width: 100%;
    box-shadow: 0 0rem 0.5rem 0.2rem var(--color-text-1);
    border-radius: 50%;
    transition: all 0.4s; }
    .logo__img:hover {
      scale: 1.1;
      filter: brightness(1.1);
      box-shadow: 0 0rem 1rem 0.3rem var(--color-tertiary-dark); }

@media only screen and (max-width: 28.5em) {
  .navigation {
    padding-bottom: 5.4rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: rgba(var(--color-white-1), 0.2);
  background: linear-gradient(90deg, var(--color-primary-dark) 20%, var(--color-primary) 30%, var(--color-tertiary-dark-grad) 50%, var(--color-primary) 60%, var(--color-primary-dark) 80%);
  background-size: 800% 800%;
  animation: animated-gradient 20s linear infinite;
  position: fixed;
  top: 2rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  box-shadow: 0 0rem 0.5rem 0.2rem var(--color-text-1);
  text-align: center;
  cursor: pointer;
  z-index: 2000; }

.navigation__background {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
  background: radial-gradient(var(--color-primary-dark) 1%, var(--color-primary) 10%, var(--color-primary-light) 25%);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  list-style: none;
  text-align: center;
  width: 100%;
  display: none; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--color-tertiary-dark);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-tertiary-dark) 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #090979;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  display: block; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  display: inline-block;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--color-tertiary-dark);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon {
  filter: brightness(1.2); }

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
  filter: brightness(1.2); }

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
  filter: brightness(1.2); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
