.heading-art1.heading-digital-fusion1 {
  @media only screen and (max-width: 68.5em) {
    & :first-child {
      display: block;
      font-size: 3rem;
      line-height: 1.5;
    }
    & :last-child {
      display: block;
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 25.5em) {
    & :first-child {
      font-size: calc(4vw + 0.5rem);
    }
    & :last-child {
      font-size: calc(3.2vw + 0.5rem);
    }
  }
}
