@media only screen and (max-width: 34.5em) {
  .heading-art1.heading-digital-painting1 {
    & :first-child {
      display: block;
      margin: 0 0 0.5rem 0;
      font-size: calc(3vw + 1.2rem);
    }
    & :last-child {
      display: block;
      font-size: calc(1.8vw + 1.2rem);
    }
  }
}
