@media only screen and (max-width: 26.5em) {
  .heading-art1.heading-photo-editing1 {
    & :first-child {
      display: block;
      margin: 0 0 0.5rem 0;
      font-size: 3rem;
    }
    & :last-child {
      display: block;
    }
  }
  .heading-art2.heading-photo-editing2 {
    font-size: 1.3rem;
  }
}
